.header {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.darkTheme .header {
  color: #8899A6;
  background: #192734;
}
.lightTheme .header {
  color: #444;
  background: white;
}
.header .menu-title {
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header nav {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.header .icon-menu {
  margin-right: 15px;
  width: 40px;
  align-items: center;
  cursor: pointer;
  display: none;
}

a.nav-link {
  text-decoration: none;
  padding: 0 20px 0 20px;
  font-size: 20px;
  transition: 0.3s;
  position: relative;
}
.darkTheme a.nav-link {
  color: #8899A6;
}
.lightTheme a.nav-link {
  color: #444;
}
a.nav-link:before {
  z-index: 20;
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #003ad8;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: 0.3s;
}
a.nav-link:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}
.darkTheme a.nav-link:not(.is-active):hover {
  color: #2997ff;
}
.lightTheme a.nav-link:not(.is-active):hover {
  color: #2997ff;
}

.nav-indicator {
  position: absolute;
  height: 4px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media screen and (max-width: 900px) {
  .header nav {
    width: 30vw;
    height: calc(100vh - 65px);
    background: white;
    position: absolute;
    top: 65px;
    left: -300px;
    transition: 300ms ease left;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    z-index: 10;
    display: flex;
    align-items: center;
  }
  .header nav a {
    width: 100%;
    padding: 0;
    height: 65px;
    display: flex;
    align-items: center;
  }
  .header nav.menu-active {
    left: 0px;
  }
  .header .icon-menu {
    z-index: 100;
    display: flex;
  }

  .nav-indicator {
    display: none;
  }
}
.opening {
  display: flex;
  justify-content: center;
}

figure {
  position: fixed;
  top: 0;
  transition: all 1s;
}
figure img {
  border-radius: 65px;
  height: 95vh;
}

.mobile-body {
  transform: scale(1);
  opacity: 1;
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  flex-shrink: 0;
  width: 35.6rem;
  height: 72.2rem;
  border-radius: 6rem;
  display: flex;
  justify-content: center;
  user-select: none;
}
.mobile-body .layer-1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 0.4rem solid #484848;
  border-radius: 6rem;
}
.mobile-body .layer-2 {
  position: absolute;
  left: 0.3rem;
  right: 0.3rem;
  top: 0.3rem;
  bottom: 0.3rem;
  border: 1.6rem solid #000000;
  border-radius: 5.6rem;
}
.mobile-body .layer-gradient-1 {
  position: absolute;
  left: 1.1rem;
  right: 1.1rem;
  top: 1.1rem;
  bottom: 1.1rem;
  border: 0.3rem solid #484848;
  border-radius: 5rem;
  filter: blur(1px);
  opacity: 0.5;
}
.mobile-body .layer-gradient-2 {
  position: absolute;
  left: 0.7rem;
  right: 0.7rem;
  top: 0.7rem;
  bottom: 0.7rem;
  border: 0.4rem solid #bcbcbc;
  border-radius: 5.6rem;
  opacity: 0.5;
  filter: blur(1px);
}
.mobile-body .top-bar {
  width: 17.3rem;
  height: 2.8rem;
  background-color: #000000;
  position: absolute;
  top: 1.7rem;
  left: 9.1rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.mobile-body .top-bar:before {
  content: "";
  position: absolute;
  bottom: 1.25rem;
  left: -0.9rem;
  width: 0.8rem;
  height: 0.8rem;
  border: 0.4rem solid transparent;
  border-top: 0.4rem solid black;
  border-right: 0.4rem solid black;
  border-top-right-radius: 0.6rem;
  transform: rotate(28deg);
}
.mobile-body .top-bar:after {
  content: "";
  position: absolute;
  bottom: 1.25rem;
  right: -0.9rem;
  width: 0.8rem;
  height: 0.8rem;
  border: 0.4rem solid transparent;
  border-top: 0.4rem solid black;
  border-left: 0.4rem solid black;
  border-top-right-radius: 0.6rem;
  transform: rotate(-28deg);
}
.mobile-body .camera {
  position: absolute;
  bottom: 1.1rem;
  right: 4.5rem;
  right: 4.5rem;
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  border: 0.2rem solid #1e1f22;
  background-image: linear-gradient(right, #091528, #2363a6);
}
.mobile-body .speaker {
  position: absolute;
  bottom: 1.3rem;
  right: 6.5rem;
  width: 4rem;
  height: 0.6rem;
  background-color: #161616;
  border-radius: 0.2rem;
}
.mobile-body .button {
  width: 0.3rem;
  height: 2.5rem;
  background-color: #484848;
  position: absolute;
  left: -0.2rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-right: none;
}
.mobile-body .button.silent {
  top: 9.8rem;
}
.mobile-body .button.volume-up {
  top: 15rem;
  height: 5rem;
}
.mobile-body .button.volume-down {
  top: 21.6rem;
  height: 5rem;
}
.mobile-body .button.power {
  top: 16.9rem;
  height: 5rem;
  right: -0.3rem;
  left: auto;
  transform: rotate(180deg);
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.image-content {
  width: 89%;
  position: absolute;
  top: 12%;
  left: 5.5%;
  z-index: -100;
}
.image-content .image-content-unlock {
  border-radius: 65px;
  position: absolute;
  left: -1%;
  height: 93vh;
  width: 100%;
  background-color: #5fadbf;
  transition: all 0.4s ease-in;
  top: -20%;
}
.image-content .image-content-unlock:not(.locked) {
  opacity: 0;
  height: 0;
}
.image-content .image-content-unlock div {
  position: absolute;
  top: 53%;
  left: 10%;
  color: #2997ff;
}
.image-content .image-content-unlock .image-content-unlock-caption {
  position: absolute;
  top: 45%;
  left: 1%;
  color: #2997ff;
  width: 12ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
.image-content .image-content-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid gray;
}
.image-content .image-content-contacts img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.image-content .image-content-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image-content .image-content-message p {
  display: inline-block;
  transition: all 0.5s ease-out;
  opacity: 1;
  height: auto;
  background: rgba(50, 168, 82, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.image-content .image-content-message p:not(.is-active) {
  opacity: 0;
  height: 0;
}
.image-content .image-content-message p:before {
  content: "";
  position: absolute;
  width: 10%;
  height: 5px;
  background-color: #003ad8;
  border-radius: 8px;
}

.content {
  position: absolute;
  top: 900vh;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  height: 100vh;
  width: 100vw;
}
.darkTheme .content {
  color: #FFFFFF;
  background-color: #15202B;
}
.lightTheme .content {
  color: black;
  background-color: #f8f9fa;
}

@media screen and (max-width: 900px) {
  .content {
    height: auto;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto auto auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container a {
  font-size: 12px;
  text-decoration: none;
}
.darkTheme .container a {
  color: #8899A6;
}
.lightTheme .container a {
  color: #757575;
}
.container a:hover {
  text-decoration: underline;
}

.left-side-fixed {
  margin-top: 10px;
  width: 25vw;
  height: 90vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.right-side-fixed {
  margin-top: 10px;
  height: 90vh;
  overflow-y: scroll;
  width: 65vw;
  overflow-x: hidden;
  border-left: 2px dotted gray;
}

.left-side-fixed::-webkit-scrollbar, .right-side-fixed::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left-side-fixed {
    width: 100vw;
    overflow-x: scroll;
    height: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right-side-fixed {
    width: 100vw;
    overflow-x: scroll;
    height: auto;
    overflow-y: scroll;
  }
}
.about {
  margin: 1em 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .about-container img {
  position: relative;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 1;
}
.about .about-container .about-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about .about-container .about-column div {
  width: 100%;
  margin-left: 10%;
  padding-left: 3%;
  border-left: 2px solid #E6E9ED;
}
.about .about-container .about-column div ul {
  margin-left: -40px;
}
.about .about-container .about-column div ul li {
  font-weight: 400;
  list-style-type: none;
}

@media screen and (max-width: 900px) {
  .about .about-container {
    flex-direction: column;
  }
  .about .about-container img {
    left: 5vw;
  }
  .about .about-container .about-column div {
    width: 100%;
    margin-top: 10%;
    margin-left: 10%;
    padding-left: 5%;
  }
}
.header {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.darkTheme .header {
  color: #8899A6;
  background: #192734;
}
.lightTheme .header {
  color: #444;
  background: white;
}
.header .menu-title {
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header nav {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.header .icon-menu {
  margin-right: 15px;
  width: 40px;
  align-items: center;
  cursor: pointer;
  display: none;
}

a.nav-link {
  text-decoration: none;
  padding: 0 20px 0 20px;
  font-size: 20px;
  transition: 0.3s;
  position: relative;
}
.darkTheme a.nav-link {
  color: #8899A6;
}
.lightTheme a.nav-link {
  color: #444;
}
a.nav-link:before {
  z-index: 20;
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #003ad8;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: 0.3s;
}
a.nav-link:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}
.darkTheme a.nav-link:not(.is-active):hover {
  color: #2997ff;
}
.lightTheme a.nav-link:not(.is-active):hover {
  color: #2997ff;
}

.nav-indicator {
  position: absolute;
  height: 4px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media screen and (max-width: 900px) {
  .header nav {
    width: 30vw;
    height: calc(100vh - 65px);
    background: white;
    position: absolute;
    top: 65px;
    left: -300px;
    transition: 300ms ease left;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    z-index: 10;
    display: flex;
    align-items: center;
  }
  .header nav a {
    width: 100%;
    padding: 0;
    height: 65px;
    display: flex;
    align-items: center;
  }
  .header nav.menu-active {
    left: 0px;
  }
  .header .icon-menu {
    z-index: 100;
    display: flex;
  }

  .nav-indicator {
    display: none;
  }
}
.skills {
  margin: 1em 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: normal;
}
.skills .skills-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.skills .skills-column h3 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 24px;
  border-bottom: 2px solid gray;
}
.skills .skills-column ul li {
  margin-left: 20px;
}

@media screen and (max-width: 900px) {
  .skills {
    align-items: center;
  }
  .skills .skills-column {
    flex-direction: column;
    align-items: center;
  }
  .skills .skills-column ul {
    width: 100%;
  }
}
.experience {
  margin: 4em 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.experience .experience-column {
  display: flex;
  flex-direction: column;
  width: 53vw;
}
.experience .experience-column .experience-timeline {
  position: relative;
  left: 40px;
}
.experience .experience-column .experience-timeline h3 {
  margin-left: 25px;
}
.experience .experience-column .experience-timeline h3 span {
  margin-left: 5px;
  font-size: 14px;
  color: #757575;
}
.experience .experience-column .experience-timeline h3::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #5f8df185;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  top: 20px;
  left: -8px;
  border: 0.5px solid #fff;
  z-index: 2;
}
.experience .experience-column .experience-timeline .experience-timeline-body {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  border-left: 2px solid #E6E9ED;
}
.experience .experience-column .experience-timeline .experience-timeline-body div {
  width: 50%;
}
.experience .experience-column .experience-timeline .experience-timeline-body p {
  color: #757575;
  padding-top: 3px;
}

@media screen and (max-width: 900px) {
  .experience .experience-column {
    width: 65vw;
  }
  .experience .experience-column .experience-timeline {
    left: 0px;
  }
  .experience .experience-column .experience-timeline .experience-timeline-body {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .experience .experience-column .experience-timeline .experience-timeline-body div {
    width: 90%;
  }
  .experience .experience-column .experience-timeline .experience-timeline-body div ul {
    margin-left: -18px;
  }
}
.education {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.education .education-column {
  display: flex;
  flex-direction: column;
  width: 53vw;
}
.education .education-column .education-timeline {
  position: relative;
  left: 40px;
}
.education .education-column .education-timeline h3 {
  margin-left: 25px;
}
.education .education-column .education-timeline h3 span {
  margin-left: 5px;
  font-size: 14px;
  color: #757575;
}
.education .education-column .education-timeline h3::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #5f8df185;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  top: 20px;
  left: -8px;
  border: 0.5px solid #fff;
  z-index: 2;
}
.education .education-column .education-timeline .education-timeline-body {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  border-left: 2px solid #E6E9ED;
}
.education .education-column .education-timeline .education-timeline-body div {
  width: 50%;
}
.education .education-column .education-timeline .education-timeline-body p {
  color: #757575;
}

@media screen and (max-width: 900px) {
  .education .education-column {
    width: 65vw;
  }
  .education .education-column .education-timeline {
    left: 0px;
  }
  .education .education-column .education-timeline .education-timeline-body {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .education .education-column .education-timeline .education-timeline-body div {
    width: 90%;
  }
  .education .education-column .education-timeline .education-timeline-body div ul {
    margin-left: -18px;
  }
}
.portfolio {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio .portfolio-column {
  width: 53vw;
}
.portfolio .portfolio-column p {
  padding-bottom: 0px;
}
.portfolio .portfolio-column ul li {
  padding-bottom: 0px;
}

@media screen and (max-width: 900px) {
  .portfolio .portfolio-column {
    width: 80vw;
  }
}
.reference {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reference-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 53vw;
}

.reference-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid gray;
  padding-top: 5vh;
}

.reference-column-img {
  width: 380px;
  height: auto;
  border-radius: 10px;
}

.reference-column-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reference-column-body h3 {
  font-size: calc(1.1rem + .6vw);
}
.reference-column-body div {
  width: 90%;
}

@media screen and (max-width: 900px) {
  .reference-columns {
    width: 80vw;
  }

  .reference-column-img {
    width: 300px;
    height: auto;
    margin-left: 0;
  }
}
.resume-switcher {
  display: none;
  position: fixed;
  right: 30px;
  top: 110px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ada6a6;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  height: 50px;
  width: 50px;
}

.resume-switcher:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

.darkTheme .resume-switcher:active {
  border: 2px solid #15202B;
}
.lightTheme .resume-switcher:active {
  border: 2px solid #f8f9fa;
}

html body {
  margin: 0;
  padding: 0;
  min-height: 1000vh;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
html body::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
}

h2 {
  font-size: 2rem;
  position: relative;
}

h4 {
  font-size: 1.3rem;
  border-bottom: 1px solid gray;
}

p, li {
  line-height: 1.5;
}

.darkTheme .highlight {
  color: #298deb;
}
.lightTheme .highlight {
  color: #095aa7;
}

.darkTheme .text-muted {
  color: #8899A6;
}
.lightTheme .text-muted {
  color: #757575;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  color: #444;
  background: white;
  font-size: 0.85rem;
}
footer div {
  padding: 15px 0 5px 0;
}
footer div img {
  width: 23px;
}

.theme-switcher {
  background: 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
  width: 60px;
  position: absolute;
  top: 75px;
  right: 15px;
  border: 1px solid rgba(255, 255, 255, 0);
}
.theme-switcher:focus {
  outline: none;
  /* Not ideal for accessibility */
}
.theme-switcher span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background-color: #d6d7db;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
.theme-switcher span:nth-child(2) {
  position: absolute;
  top: 3px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
.darkTheme .theme-switcher span:nth-child(2) {
  left: 33px;
  background-color: #192734;
}
.lightTheme .theme-switcher span:nth-child(2) {
  left: 5px;
  background-color: white;
}

.go-to-top {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #ada6a6;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

.go-to-top:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

/*# sourceMappingURL=base.css.map */
