.site-navigation {
  height: 65px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  color: #444;
}
.site-navigation .menu-title {
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.site-navigation .menu-content-container {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.site-navigation ul {
  height: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0 20px 0 50px;
}
.site-navigation ul a {
  text-decoration: none;
  padding: 0 20px 0 20px;
  font-size: 20px;
  color: #444;
}
.site-navigation ul a:hover {
  color: #2997ff;
}

@media screen and (max-width: 900px) {
  .site-navigation .menu-content-container {
    width: 300px;
    height: calc(100% - 65px);
    background: white;
    position: absolute;
    top: 65px;
    left: -300px;
    transition: 300ms ease left;
    flex-direction: column-reverse;
    padding: 0;
  }
  .site-navigation .menu-content-container a {
    width: 100%;
    padding: 0;
  }
  .site-navigation .menu-content-container li {
    height: 65px;
    display: flex;
    align-items: center;
  }
  .site-navigation .menu-content-container ul {
    flex-direction: column;
    padding: 0;
    padding-top: 20px;
  }
  .site-navigation .menu-content-container ul, .site-navigation .menu-content-container li {
    width: 100%;
  }
  .site-navigation .menu-content-container.active {
    left: 0px;
  }
}
html body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  margin: 0;
  background-color: #f8f9fa;
}

h2 {
  font-size: 2rem;
  position: relative;
  left: -25vw;
}

h4 {
  font-size: 1.3rem;
  border-bottom: 1px solid gray;
}

.container {
  max-width: 1200px;
  margin: 0 auto auto auto;
}
.container a {
  font-size: 12px;
  text-decoration: none;
  color: #636161;
}
.container a:hover {
  text-decoration: underline;
}

.about {
  margin: 4em 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about .about-container img {
  position: relative;
  left: 15%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.about .about-container .about-column {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about .about-container .about-column div {
  width: 75%;
  margin-left: 35%;
  padding-left: 3%;
  border-left: 2px solid #E6E9ED;
}
.about .about-container .about-column div li {
  list-style-type: none;
  margin-bottom: 10px;
}

.skills {
  margin: 4em 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
}
.skills .skills-column {
  display: flex;
  justify-content: space-around;
  width: 53vw;
}
.skills .skills-column h3 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 24px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.295);
}
.skills .skills-column ul {
  width: calc(30% - 5px);
}
.skills .skills-column ul li {
  margin-left: 20px;
}

.experience {
  margin: 4em 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.experience .experience-column {
  display: flex;
  flex-direction: column;
  width: 53vw;
}
.experience .experience-column .experience-timeline {
  position: relative;
  left: 40px;
}
.experience .experience-column .experience-timeline h3 {
  margin-left: 25px;
}
.experience .experience-column .experience-timeline h3 span {
  margin-left: 5px;
  font-size: 14px;
  color: #757575;
}
.experience .experience-column .experience-timeline h3::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #5f8df185;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  top: 20px;
  left: -8px;
  border: 0.5px solid #fff;
  z-index: 2;
}
.experience .experience-column .experience-timeline .experience-timeline-body {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  border-left: 2px solid #E6E9ED;
}
.experience .experience-column .experience-timeline .experience-timeline-body div {
  width: 50%;
}
.experience .experience-column .experience-timeline .experience-timeline-body p {
  color: #757575;
  padding-top: 3px;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.education .education-column {
  display: flex;
  flex-direction: column;
  width: 53vw;
}
.education .education-column .education-timeline {
  position: relative;
  left: 40px;
}
.education .education-column .education-timeline h3 {
  margin-left: 25px;
}
.education .education-column .education-timeline h3 span {
  margin-left: 5px;
  font-size: 14px;
  color: #757575;
}
.education .education-column .education-timeline h3::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #5f8df185;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  top: 20px;
  left: -8px;
  border: 0.5px solid #fff;
  z-index: 2;
}
.education .education-column .education-timeline .education-timeline-body {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  border-left: 2px solid #E6E9ED;
}
.education .education-column .education-timeline .education-timeline-body div {
  width: 50%;
}
.education .education-column .education-timeline .education-timeline-body p {
  color: #757575;
}

.portfolio {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio .portfolio-column {
  width: 53vw;
}

.reference {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reference-column {
  display: flex;
  flex-direction: column;
}

.reference-column-img {
  width: 380px;
  height: auto;
  border-radius: 2.5%;
  margin-left: 30px;
}

.reference-column-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reference-column-body h3 {
  font-size: calc(1.1rem + .6vw);
}
.reference-column-body p {
  color: #4f4f4f;
}

.highlight {
  color: #095aa7;
}

.text-muted {
  color: #757575;
}

.go-to-top {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #ada6a6;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

.go-to-top:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

/*# sourceMappingURL=base.css.map */
