@import './variables';


.portfolio {
    // font-weight: $text-weight-half;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .portfolio-column {
        width: $column-width;

        p {
            padding-bottom: 10px;
        }

        ul li {
            padding-bottom: 10px;
        }
    }
    
}

@media screen and (max-width: 900px) {
    .portfolio {
        .portfolio-column {
            width: $column-width-rwd-bigger;
        }
    }
}