@import './_variables';
@import './_navigation';
@import './about';
@import './skills';
@import './experience';
@import './education';
@import './portfolio';
@import './reference';

@import './themes';
@import './themeSwitcher';

html body{
    margin: 0;
    padding: 0;
}

.content {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: $text-weight;
    overflow-x: hidden;
    @include theme() {
        color: theme-get('text-color');
        background-color: theme-get('bg-color');
    }

}

h2 {
    font-size: 2rem;
    position: relative;
    left: -25vw;
}

h4 {
    font-size: 1.3rem;
    border-bottom: 1px solid $border-underline;
    // width: 50vw;
}

.container {
    max-width: 1200px;
    margin: 0 auto auto auto;

    a{
        font-size: 12px;
        text-decoration: none;
        @include theme(){
            color: theme-get('text-muted');
        };
    }

    a:hover{
        text-decoration: underline;
    }
}


.highlight {
    @include theme() {
        color: theme-get('text-highlight')
    }
    
}

.text-muted {
    @include theme() {
        color: theme-get('text-muted')
    }
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    color: $light-text-color-nav;
    background: white;
    font-size: 0.85rem;

    div {
        padding: 15px 0 5px 0;
        img {
            width: 23px;
        }
    }


}




.theme-switcher {
    background: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    width: 60px;
    position: absolute;
    top: 75px;
    right: 15px;

    border: 1px solid rgba(255,255,255,0);

    &:focus{
        outline: none; /* Not ideal for accessibility */
    }

    & span:nth-child(1) {
        position: absolute;
        top:0;
        left:0;
        width: 60px;
        height: 30px;
        border-radius: 20px;
        background-color: #d6d7db;
        box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
        transition: .3s;
    }

    & span:nth-child(2) {
        position: absolute;
        top: 3px;
        @include switcher(){
            left: switcher-get('toggle-position');
            background-color: switcher-get('bg-color');
        }
        width: 23px;
        height: 23px;
        border-radius: 50%;
        box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
        transition: .3s;
    }
}







.go-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(173, 166, 166); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  .go-to-top:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }