@import "./_variables";

.opening {
  display: flex;
  justify-content: center;
}

figure {
  position: fixed;
  top: 0;
  transition: all 1s;
}

figure.animation {
  // by js
  transform: translateY(-300px) scale(0.8);
  //transform: scale(1.5);
}

figure.animation-rotate {
  transform: translateY(-200px) scale(0.5) $mobile-rotate3d;
}

.mobile-body {
  transform: scale(1);
  opacity: 1;
  box-shadow: 0 0 2rem 1rem rgba(black, 0.1);
  z-index: $z-index-mobile-body;

  position: relative;
  flex-shrink: 0;
  height: $mobile-height;
  width: $mobile-width;
  border-radius: $mobile-border-radius;
  display: flex;
  justify-content: center;
  //background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/830072/bg-1.jpg");
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  user-select: none;
  //transform: scale(.9);
  //opacity: 0;
  //box-shadow: none;
  //transition: all 1s;
  //margin-bottom: 7.5rem;

  // &:hover {
  //   box-shadow: none !important;
  //   transform: scale(.95) !important;
  // }
  .layer-1 {
    $offset: 0;
    position: absolute;
    left: $offset;
    right: $offset;
    top: $offset;
    bottom: $offset;
    border: 0.4rem solid #484848;
    border-radius: 6rem;
  }
  .layer-2 {
    $offset: 0.3rem;
    position: absolute;
    left: $offset;
    right: $offset;
    top: $offset;
    bottom: $offset;
    border: 1.6rem solid #000000;
    border-radius: 5.6rem;
  }
  .layer-gradient-1 {
    $offset: 1.1rem;
    position: absolute;
    left: $offset;
    right: $offset;
    top: $offset;
    bottom: $offset;
    border: 0.3rem solid #484848;
    border-radius: 5rem;
    filter: blur(1px);
    opacity: 0.5;
  }
  .layer-gradient-2 {
    $offset: 0.7rem;
    position: absolute;
    left: $offset;
    right: $offset;
    top: $offset;
    bottom: $offset;
    border: 0.4rem solid #bcbcbc;
    border-radius: 5.6rem;
    opacity: 0.5;
    filter: blur(1px);
  }
  .top-bar {
    width: 17.3rem;
    height: 2.8rem;
    background-color: #000000;
    position: absolute;
    top: 1.7rem;
    left: 9.1rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

    &:before {
      content: "";
      position: absolute;
      bottom: 1.25rem;
      left: -0.9rem;
      width: 0.8rem;
      height: 0.8rem;
      border: 0.4rem solid transparent;
      border-top: 0.4rem solid black;
      border-right: 0.4rem solid black;
      border-top-right-radius: 0.6rem;
      transform: rotate(28deg);
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 1.25rem;
      right: -0.9rem;
      width: 0.8rem;
      height: 0.8rem;
      border: 0.4rem solid transparent;
      border-top: 0.4rem solid black;
      border-left: 0.4rem solid black;
      border-top-right-radius: 0.6rem;
      transform: rotate(-28deg);
    }
  }
  .camera {
    position: absolute;
    bottom: 1.1rem;
    right: 4.5rem;
    right: 4.5rem;
    width: 1rem;
    height: 1rem;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    border: 0.2rem solid #1e1f22;
    background-image: linear-gradient(right, #091528, #2363a6);
  }
  .speaker {
    position: absolute;
    bottom: 1.3rem;
    right: 6.5rem;
    width: 4rem;
    height: 0.6rem;
    background-color: #161616;
    border-radius: 0.2rem;
  }
  .button {
    width: 0.3rem;
    height: 2.5rem;
    background-color: #484848;
    position: absolute;
    left: -0.2rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: 0.1rem solid rgba(black, 0.1);
    border-right: none;

    &.silent {
      top: 9.8rem;
    }
    &.volume-up {
      top: 15rem;
      height: 5rem;
    }
    &.volume-down {
      top: 21.6rem;
      height: 5rem;
    }
    &.power {
      top: 16.9rem;
      height: 5rem;
      right: -0.3rem;
      left: auto;
      transform: rotate(180deg);
    }
  }
}
