@import './variables';
@import './themes';

.header {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include theme() {
        color: theme-get('text-color-nav');
        background: theme-get('bg-color-nav');
    }

    .menu-title {
        font-size: 24px;
        font-weight: 400;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    nav {
        display: flex;
        align-items: center;
        padding-right: 30px;
    }

    .icon-menu { // for small screen
        margin-right: 15px;
        width: 40px;
        align-items: center;
        cursor: pointer;
        display: none;
    }
}

a.nav-link {
    text-decoration: none;
    padding: 0 20px 0 20px;
    font-size: 20px;

    transition: .3s;
    position: relative;

    @include theme() {
        color: theme-get('text-color-nav');
    }

    &:before {
      z-index: 20;
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: $navi-hover-clr;
      border-radius: 8px 8px 0 0;
      opacity: 0;
      transition: .3s;
    }

    &:not(.is-active):hover:before {
      opacity: 1;
      bottom: 0;
    }
    
    &:not(.is-active):hover { 
      @include theme() {
        color: theme-get('text-color-nav-hover')
      }
    }
}

    
.nav-indicator {
  position: absolute;
  top: 5px;
  // left: 0;
  // bottom: 0;
  transition: .4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
  background-color: $navi-indicator-clr;
}

@media screen and (max-width: 900px) {
    .header {
        nav{
            width: 30vw;
            height: calc(100vh - 65px);
            background: white;
            position: absolute;
            top: 65px;
            left: -300px;
            transition: 300ms ease left;
            flex-direction: column;
            justify-content: start;
            padding: 0;
            z-index: 10;

            display: flex;
            align-items: center;

            a {
                width: 100%;
                padding: 0;

                height: 65px;
                display: flex;
                align-items: center;
            }

            &.menu-active {
                left: 0px;
            }
        }

        .icon-menu {
            z-index: 100;
            display: flex;
        }

    }
    .nav-indicator{
      display: none;
    }
}
