$text-weight: 500;
$text-weight-lighter: 400;

$light-text-link: #2997ff;
$light-text-color-nav: #444;
$light-text-color: black;
$light-bg: #f8f9fa;
$light-bg-card: white;

$dark-bg: #15202b;
$dark-bg-card: #192734;
// $dark-hover: #22303C;
$dark-primary-text: #ffffff;
$dark-secondary-text: #8899a6;

$border-underline: gray;
$timeline-dot: #5f8df185;
$timeline-border: #e6e9ed;

$text-muted: #757575;
$highlight: #095aa7;
$text-muted-dark: #8899a6;
$highlight-dark: #298deb;

$column-width: 53vw;
$column-width-rwd: 65vw;
$column-width-rwd-bigger: 80vw;

/* navigation */
$navi-hover-clr: #5272cc;
$navi-indicator-clr: #8fa5e2;

/* for mobile */
$mobile-height: 72.2rem;
$mobile-width: 35.6rem;
$mobile-border-radius: 6rem;

$mobile-rotate3d: rotate3d(1, 1, 1, -0.2turn);
$mobile-retate3d-reverse: rotate3d(-1, 1, 1, 0.2turn);

$z-index-mobile-body: 100;
$z-index-mobile-unlock: 50;
$z-index-mobile-content: 10;
$z-index-mobile-bg: 5;
$z-index-bg: 1;

$mobile-text-msg-color: rgba(50, 168, 82, 0.5);
